# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

infra/tempo/data/
e2e/playwright-report/data/
backend-system/bin/
backend-dashboard/bin/
backend-incident/.gradle/
tmp/
docker-compose.yml
e2e/test-results/
backend-incident/gradlew
backend-request/bin/
